<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Feedback System</title>

		<link href="stylesheets/bootstrap.css" rel="stylesheet">
		<style type="text/css">
		  body {
		    padding-top: 60px;
		    padding-bottom: 40px;
		  }
		  .sidebar-nav {
		    padding: 9px 0;
		  }
		</style>
		<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">

		<script src="javascripts/lib/jquery-1.7.1.js"></script>
		<script src="javascripts/lib/bootstrap.js"></script>

		<script src="javascripts/lib/underscore.js"></script>
		<script src="javascripts/lib/backbone.js"></script>
		<!-- script src="javascripts/lib/Backbone-localstorage.js"></script> -->

		<script src="javascripts/models.js"></script>
		<script src="javascripts/collections.js"></script>

		<!-- script src="javascripts/views.js"></script -->
		
		<script src="javascripts/routers.js"></script>
		<script src="javascripts/apps.js"></script>
		
	</head>
	<body>
		<div id="container">
	</body>
</html>